<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>brd</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>brd.icns</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>binary/eagle-board</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>EAGLE Board</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSIsAppleDefaultForType</key>
                <true/>
            </dict>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>cam</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>cam.icns</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>text/eagle-cam-job</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>EAGLE CAM Job</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSIsAppleDefaultForType</key>
                <true/>
            </dict>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>dru</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>dru.icns</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>text/eagle-design-rules</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>EAGLE Design Rules</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSIsAppleDefaultForType</key>
                <true/>
            </dict>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>epf</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>epf.icns</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>text/eagle-project</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>EAGLE Project</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSIsAppleDefaultForType</key>
                <true/>
            </dict>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>lbr</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>lbr.icns</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>binary/eagle-library</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>EAGLE Library</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSIsAppleDefaultForType</key>
                <true/>
            </dict>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>sch</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>sch.icns</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>binary/eagle-schematic</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>EAGLE Schematic</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSIsAppleDefaultForType</key>
                <true/>
            </dict>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>scr</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>scr.icns</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>text/eagle-script</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>EAGLE Script</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSIsAppleDefaultForType</key>
                <true/>
            </dict>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>ulp</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>ulp.icns</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>text/eagle-ulp</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>EAGLE User Language Program</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSIsAppleDefaultForType</key>
                <true/>
            </dict>
        </array>
        <key>CFBundleIconFile</key>
        <string>eagle.icns</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleGetInfoString</key>
        <string>EAGLE version 7.1.0, Copyright (c) 2014 CadSoft Computer GmbH</string>
        <key>CFBundleSignature</key>
        <string>eagl</string>
        <key>CFBundleExecutable</key>
        <string>EAGLE</string>
        <key>CFBundleShortVersionString</key>
        <string>7.1.0</string>
        <key>CFBundleVersion</key>
        <string>7.1.0</string>
</dict>
</plist>
